.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.blinking-cursor::after {
  content: '|';
  animation: blink 1.2s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.container {
  display: grid;
  grid-template-columns: 40px auto 40px;
  grid-template-rows: 1fr 1fr;
  margin-top: 40vh;
}

.landingHeader {
  justify-self: start;
  align-self: stretch;
  font-size: 22px;
  position: absolute;
  left: 40px;
  z-index: 5;
}

.headerSub {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  margin-top: 50px;
  justify-self: end;
  font-size: 22px;
  z-index: 5;
}

#zenDesign {
  background: linear-gradient(to right, rgba(136,250,168,1), rgba(44,192,255,1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#zeno {
  color: #7CFFD8;
}

.particles {
  position: fixed;
  width: 100%;
  z-index: -1;
}